@using LibraryDomain.DTOs
@using LibraryDomain.LibraryItemAggregate

<h3>AddBookForm</h3>

<EditForm Model="@book" OnValidSubmit="@InvokeParentMethod">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="title" @bind-Value="book.Title" />
    <InputText id="author" @bind-Value="book.Author" />
    <InputNumber id="pages" @bind-Value="book.Pages" />

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>


@code {
    [Parameter]
    public Action<LibraryItemDTO> ParentMethod { get; set; }

    private BookDTO book = new BookDTO();
    private void InvokeParentMethod()
    {
        book.IsBorrowable = true;
        book.Type = LibraryItemType.Book;
        ParentMethod?.Invoke(book);
    }
}
