@page "/"

@using LibraryDomain.LibraryItemAggregate
@using Library.Web.Services
@inject LibraryService libService

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="SetShowLibraryItem">AddLibraryItem</button>

@if (showAddLibraryItem)
{
    <AddLibraryItem />
}
else
{
<p>Test</p>
}


<button @onclick="() => libService.AddLibraryItem(item)"></button>



@if (LibraryItems is null)
{
    <p>Loading...</p>
}
else
{
<table class="table table-striped">
    <thead>
        <tr>
            <td>Title</td>
            <td>Category</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var libraryItem in LibraryItems)
        {
        <tr>
            <td>@libraryItem.Title</td>
            <td>@libraryItem.Category</td>
        </tr>
            
        }
    </tbody>

</table>
}



@code {
    bool showAddLibraryItem = false;
    LibraryItem item = new() { Title = "hej" };
    private List<LibraryItem> LibraryItems;

    //Kanske göra async?
    protected override void OnInitialized()
    {
        LibraryItems = libService.GetLibraryItems();
    }

    protected void SetShowLibraryItem()
    {
        showAddLibraryItem = !showAddLibraryItem;
    }
}