@using LibraryDomain.LibraryItemAggregate
@using LibraryDomain.Services
@inject LibraryService libService

<div class="btn-group" role="group">

    <button class="btn btn-info" @onclick="@(() => ShowEditLibraryItem())">Edit</button>
    <button class="btn btn-danger" @onclick="@DeleteItem">Delete</button>

</div>



@code {
    [CascadingParameter] public IModalService Modal { get; set; }
    private bool showEditModal = false;
    [Parameter]
    public LibraryItem libraryItem { get; set; }

    private void DeleteItem()
    {
        libService.DeleteLibraryItem(libraryItem);
        LibraryItemsPageData.LibraryItems.Remove(libraryItem);
    }

    void ShowEditLibraryItem()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(libraryItem), libraryItem);
        parameters.Add("AddItem", false);

        Modal.Show<EditLibraryItem>($"Update {libraryItem.Type}", parameters);
    }

}
